[submodule "example-bi-directional-provider-restassured"]
	path = example-bi-directional-provider-restassured
	url = ./example-bi-directional-provider-restassured/
[submodule "SpringRESTApiTemplate"]
	path = SpringRESTApiTemplate
	url = ./SpringRESTApiTemplate/
